* {
  padding: 0px;
  margin: 0px;
}

.entrada {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.menu {
  padding-top: 0rem;
  padding-right: 8.6rem;
  margin: 2rem;
  list-style-type: none;
  font-size: 1.5rem;
}

.logo {
  padding-top: 1rem;
  list-style-type: none;
}

.titulo {
  text-align: start;
  font-size: 49px;
  padding-top: 2rem;
  padding-left: 0.9rem;
  padding-right: 0.5rem;
}

.p1 {
  text-align: start;
  padding-top: 2.5rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  font-size: 19px;
  line-height: 2rem;
}

.button1 {
  margin-top: 4rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background-color: blue;
  color: white;
  font-size: 18px;
  border-radius: 10px;
}

.button2 {
  margin-top: 4rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background-color: white;
  color: blue;
  border-color: blue;
  font-size: 16px;
}

.seccion1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 1.5rem;
  list-style-type: none;
  line-height: 2rem;
  font-size: 20px;
  border-top: 3rem;
  border-bottom: 3rem;
  border-color: black;
}

.li1::before {
  content: '\2705';
}

.li2::before {
  content: '\2705';
}

.li3::before {
  content: '\2705';
}

.imglibro {
  width: 20rem;
  height: 30rem;
  padding-top: 3rem;
  padding-left: 1.5rem;
}

section > .uno {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 3rem;
}

.titulo3 {
  padding-left: 1.5rem;
  padding-right: 1rem;
  color: blue;
  font-size: 15px;
}

.titulo4 {
  color: blue;
  font-size: 15px;
}

.seccion2 {
  padding-top: 1rem;
  padding-left: 1rem;
  font-size: 42px;
}

.pimportant {
  padding-top: 2.5rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
  font-size: 18px;
}

.fecha {
  padding-left: 1rem;
}
